@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clases personalizadas */
html {
    @apply scroll-smooth
}
body {
  @apply text-white bg-[#130F1D] opacity-90; /* o text-slate-300, etc. */
}
body p {
    @apply text-gray-200 text-opacity-40
}
.underlined-nav {
    @apply transition-all duration-1000 absolute -bottom-1 left-0 w-0 group-hover:w-full h-[3px] bg-secondary
}
.section-container {
    @apply mx-10 md:mx-auto lg:max-w-4xl md:max-w-2xl py-24
}
.underlined-text {
    @apply text-secondary text-opacity-100
}

/* CSS */
.cursor-light {
    position: fixed;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}
.cursor-light-bg {
    background: radial-gradient(circle 150px at var(--x, 0px) var(--y, 0px), rgba(255, 189, 10, 0.075), transparent 600%);
}

.button {
    position: relative;
    letter-spacing: 2px;
    color: white;
    overflow: hidden;
}
.button .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #FFBD0A;
    border-right: 3px solid #FFBD0A;
    overflow: hidden;
    transition: width 1s ease;
    white-space: nowrap;
}
.button:hover .hover-text {
    width: 100%;
}

@keyframes pulse-dot {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
.group:hover .pulse-on-hover {
    animation: pulse-dot 1.5s ease-in-out infinite;
    transform-origin: center;
}